@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');


html {
  background: url('./assets/background.png') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  color: #c4c1be;
  font-family: "Bitcount Grid Single", system-ui;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  background-color: #4025045e;
  padding: 40px;
  border-radius: 10%;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.game-controls {
  text-align: center;
}

.start-button {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: bolder;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #c4c1be;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #aca9a7;
  cursor: pointer;
  background-color: #402504c3;
  border-radius: 7%;
}

.start-button:hover {
  color: #c4c1be;
  font-size: 34px;
  border: 3px groove;
  border-color: #c4c1be;
  transform: rotate(5deg);
}

.status {
  color: #c4c1be;
  font-size: 30px;
  font-weight: bolder;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 5px;
  margin: 20px;
}

.pad-red {
  border-top-left-radius: 10%;
  background-color: #ff4d4d;
}

.pad-red:hover,
.pad-red:focus {
  background-color: #c4c1be;
  transform: rotate(-5deg);
}

.pad-red:active,
.pad-red.activated {
  background-color: #402504d8;
  transform: translateY(10px);
}

.pad-green {
  border-top-right-radius: 10%;
  background-color: #33ff77;
}

.pad-green:hover,
.pad-green:focus {
  background-color: #c4c1be;
  transform: rotate(5deg);
}

.pad-green:active,
.pad-green.activated {
  background-color: #402504d8;
  transform: translateY(10px);
}

.pad-yellow {
  border-bottom-right-radius: 10%;
  background-color: #ffff66;
}

.pad-yellow:hover,
.pad-yellow:focus {
  background-color: #c4c1be;
  transform: rotate(5deg);
}

.pad-yellow:active,
.pad-yellow.activated {
  background-color: #402504d8;
  transform: translateY(10px);
}

.pad-blue {
  border-bottom-left-radius: 10%;
  background-color: #3399ff;
}

.pad-blue:hover,
.pad-blue:focus {
  background-color: #c4c1be;
  transform: rotate(5deg);
}

.pad-blue:active,
.pad-blue.activated {
  background-color: #402504d8;
  transform: translateY(10px);
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}
